@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7f7fa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fa7c54;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eb5231;
}
